.mainpart{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 20px;
  &__main{
    display: flex;
  }
  .pagination{
      
  }
}
@media only screen and (max-width: 600px){
  .mainpart{
    &__main{
      flex-direction: column;
    }
  }
}