.form-group{
    width: 100%;
    &:not(:last-child){
        margin-right: 10px;
    }
    .form-input{
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid #aaa;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .is-invalid{
        border-bottom: 1px solid red;
        color: red;
        &::placeholder{
            color: red;
        }
    }
    .form-input:focus{
        border-bottom: 1px solid var(--red-pink);
    }
    .form-input::placeholder{
        font-size: 12px;
    }
}
.form-group-password{
    width: 100%;
    display: flex;
}
.message__text{
    margin-top: -20px;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1;
    color: red;
    font-size: 12px;
}