
:root {
  --sunflower-yellow: #ffd201;
  --transparent: rgba(255, 255, 255, 0);
  --vivid-purple: #9013fe;
  --aquamarine: #00d3ca;
  --sky-blue: #6eb2fb;
  --macaroni-and-cheese: #f1ad3d;
  --greyish: #b4b4b4;
  --transparent-two: rgba(255, 255, 255, 0);
  --transparent-95: rgba(255, 255, 255, 0.95);
  --white: #f7f7f7;
  --white-two: #efefef;
  --red-pink: #f62f5e;
  --black: #2e2e2e;
}
*{
  font-weight: 'Montserrat';
}
body{
  background-color: var(--white);
}
.app {
  &__container{
    width: 100%;
    min-height: 65vh;
    
  }
}

  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-text-fill-color: var(--black);
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}



@import 'sass-style/home';
@import 'sass-style/landing';
@import 'sass-style/modal';
@import 'sass-style/navbar';
@import 'sass-style/product';
@import 'sass-style/textInput';
@import 'sass-style/topbar';
@import 'sass-style/button';
@import 'sass-style/category';
@import 'sass-style/mainpart';
@import 'sass-style/pagination';
@import 'sass-style/radio';
@import 'sass-style/message';
@import 'sass-style/auth';
@import 'sass-style/productdetail';
@import 'sass-style/cart';
@import 'sass-style/order';
@import 'sass-style/payment';
@import 'sass-style/profile';
@import 'sass-style/footer';
@import 'sass-style/unauthorized';
@import 'sass-style/orderhome';